.bg-container {
  background-image: linear-gradient(#1d976c, #93f9b9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 100vh;
}
.data-container {
  order: 1;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
}
.para {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
}
.search-input {
  border: 1px solid #ffffff;
  padding: 5px;
  color: #e4e7eb;
  background-color: transparent;
  width: 80%;
  border-radius: 7px;
}
.button {
  background-color: #ffffff;
  color: #219a6f;
  padding: 10px;
  border-radius: 7px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
}
.image {
  width: 60%;
  height: 300px;
  order: 2;
}
@media screen and (max-width: 576px) {
  .bg-container {
    flex-direction: column;
  }
  .image {
    order: 1;
    width: 80%;
  }
  .data-container {
    order: 2;
    text-align: start;
    padding: 10px;
  }
}
